<h1 mat-dialog-title>Sibiling's Detailas</h1>
<div mat-dialog-content>
  <div>
    <form>
      <mat-form-field class="">
        <input matInput placeholder="Sibiling's name" value="" name='sibling_name' [(ngModel)]='data.sibling_name'>
      </mat-form-field>
      <br>

      <mat-form-field class="">
        <input matInput placeholder="Sibling's relationship" value="" name='sibling_relationship' [(ngModel)]='data.sibling_relationship'>
      </mat-form-field>
      <br>

      <div>
        <mat-form-field class="">
          <input matInput placeholder="School or University Name" value="" name='school_university' [(ngModel)]='data.school_university'>
        </mat-form-field>
        <br>
        <mat-form-field class="">
          <input matInput placeholder="Grade or Acadamic year" value="" name='grade_year' [(ngModel)]='data.grade_year'>
        </mat-form-field>
      </div>


    </form>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Add</button>
</div>