<div class="container">
  <div [ngClass]="setClasses()">
    <div class="row">
      <div class="col">
        {{ toapply.project_name }}
      </div>

      <div class="col">
        {{ toapply.type }}
      </div>

      <div class="col">
        {{ toapply.start_date }}
      </div>

      <div class="col" class="del" >
        <button mat-stroked-button color="primary" (click)="openDialog()">View more</button>
        &nbsp;&nbsp;
        <button mat-stroked-button color="primary" (click)="onEnroll()">enroll</button>
        <!-- <button (click)="onDelete(toapply)" class="del">enroll</button> -->
      </div>

    </div>

  </div>
</div>