
<div class="container">
    <div [ngClass]="setClasses()">
      <div class="row" *ngIf="!isdeleted">
        <div class="col">
          {{ plist.id }}
        </div>
  
        <div class="col">
          {{ plist.project_name }}
        </div>
  
        <div class="col">
          {{ plist.start_date }}
        </div>
        

        <div class="col">
           
            <button class="btn-success"  (click)="onNavigate()">Edit</button>
          
        </div>
        
        <div class="col" >
           
          <button class="btn-danger" (click)="deleteField(this.plist.id)" >Delete</button>
        
      </div>
       
      </div>
  
    </div>
  </div>
