      <div class="container">

      <form>
          <div>
            <app-project-list *ngFor = "let plist of plists" [plist] = "plist" >
            </app-project-list>
          </div>
      </form>
    </div>
   
   



